<html>
    <head>
        <link rel="stylesheet" href="../public/css/inherit.css" />
        <link rel="stylesheet" href="../public/css/admin/home.css" />
        <script src="../public/js/jq.js" type="text/javascript"></script>
        <script src="../public/js/admin/showInvites.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="head">
            <span style="padding-left: 20px;">
            <b>Invite requests</b>
            </span>
            <div class="actions">
                <input type="button" value="approve" onclick="approve()" />
                <input type="button" value="delete" class="delete" onclick="deleteRequest()"/>
            </div>
            <div class="working">
                <img src="../public/img/ajaxloading-regular.gif" />
            </div>
        </div>
        <div class="list">
            <% for (var r = 0; r < requests.length; r++) { %>
            <label for="chk_<%=r%>">
                <div class="request">
                    <div id="<%=requests[r]._id%>">
                        <input id="chk_<%=r%>" type="checkbox" class="chkRequest" name="chkRequest" value="<%=requests[r]._id%>" />
                        <span class="email"><%=requests[r].email%></span>
                    </div>
                </div>
            </label>
            <% } %>
        </div>
    </body>
</html>