.fiti{
	display: block;
	font-family: verdana;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	background-color: #EFEFEF;
	background-color: rgba(0,0,0,0.2);
	overflow: auto;
}

.fiti .content{
	display: block;
	width: 100%;
	margin: 0px auto;
	background-color: #FFF;
	background: transparent url(../../img/black-Linen_BG.jpg) repeat;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
	overflow: auto;
}

.fiti-head {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.2);
	color: #555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
}

.fiti-images {
	width: 90%;
	margin: 60px auto;
	padding: 10px;
	text-align: justify;
}

.fiti-images img {
	padding: 3px;
	background-color: transparent;
	width: inherit;
	height: inherit;
	min-width: 200px;
	max-width: 280px;
}
.fiti-images img:hover {
	/*background-color: #fea100;*/
}
.fiti-image {
	border: 1px solid #555;
	margin: 5px;
	text-align: center;
	min-width: 200px;
	max-width: 300px;
	display:inline-block;
	vertical-align: top;
}
.fiti-image:hover {
	background-color: rgba(0,0,0,0.5);
}
.fiti-image .dim {
	color: #FFF;
}

.fiti-logo {
	float: left;
	width: 238px;
	height: 50px;
	background: transparent url(../../img/logo.png) repeat;
}
.text {
	text-align: center;
}
.text h1 {
	color: #999;
	font-size: 25px;
	margin: 0px;
	text-shadow: rgba(0,0,0, 0.7) 0px 1px 0px;
}
.fiti-close {
	font-size: 15px;
	color: #CCC;
	padding-top: 18px;
	border-left: 1px solid #444;
	text-align: center;
	height: 32px;
	width: 100px;
	float: right;
}

.fiti-close:hover {
	border-left: 1px solid #222;
	color: #FFF;
	background-color: rgba(0,0,0, 0.3);
	cursor: hand;
	cursor: pointer;
}