<div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=293800967369363";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
<div class='title'>Share it with friends!!</div>
<div class="pinterest"> 
    <a href="http://pinterest.com/pin/create/button/?url=<%=url%>&media=<%=imageUrl%>&description=<%=text%>" 
        class="pin-it-button" count-layout="horizontal">
        <img border="0" src="http://passets-cdn.pinterest.com/images/about/buttons/pinterest-button.png" title="Pin It" />
    </a>
</div>
<!--div class="fb" style="margin-top: 10px;">
    <div class="fb-like" data-href="<%=url%>" data-send="false" data-width="200" data-show-faces="false" data-font="tahoma"></div>
</div-->
<div style="margin-top: 5px;">
	<a name="fb_share" type="icon_link" share_url="<%=url%>">
		<div style="background:transparent url(/public/img/facebook_button.png) no-repeat; width: 122px; height: 42px;"></div>
	</a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
<div style="margin-top: 5px;">
	<a class="reddit_share" href="http://www.reddit.com/submit?url="> 
	<img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
</div>
<div class="twitter" style="margin-top: 10px;">
<a href="https://twitter.com/share"
data-via="fitifeed"
data-url="<%=url%>" text="<%=text%>" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<script>
	$(document).ready(function(){
		$('.reddit_share').attr('href', 'http://www.reddit.com/submit?url=' + encodeURIComponent("<%=url%>"));
	});
</script>