<link rel="shortcut icon" href="/public/img/favicon.ico" />
<link rel="icon" type="image/gif" href="/public/img/animated_favicon1.gif" />
<link rel="stylesheet" href="/public/css/inherit.css" />
<script src="/public/js/jq.js" type="text/javascript"></script>