<div id="header">
    <a href="/">
        <div id="logo"></div>
    </a>
    <% if(user) { %>
    <a href="/logout">
        <div id="logout">logout</div>
    </a>
    <% } %>
    <div style="clear: both;"></div>
</div>