<html>
    <head>
        <%- partial('includes/default_includes') %>
        <link rel="stylesheet" href="/public/css/login.css" />
    </head>
    <body>        
        <div class="fiti-content">
            <div style="display: none;">
                <img src="/public/img/btn_Login_FB_OverState.png">
            </div>
        	<div>
    			<img src="/public/img/Logo_Horizongtal_Large.png" />
    		</div>
        	<div>
        		<div class="big-font">
        		  <b>Graf-fiti</b> on brilliant custom images in a few clicks.
        		  <div class="big-font-big">Hop on Board!</div>
        		</div>
        		<div class="vanster">
        		  <div class="van"></div>
        		  <div class="space">
        		      <div class="text">Only</div>
        		      <div class="spaceLeft">
        		          <%= spaceLeft %>
        		      </div>
        		      <div class="text">spots left</div>
        		  </div>
        		  <div style="clear: both;"></div>
        		</div>
	            <div class="newreg-title">
    	            <% if( spaceLeft < 0 ){ %> 
    	            There are only <b><%= spaceLeft %></b> accounts left before we close off, so get yours now.
    	            <%} else {%>
                	<b>Sorry!</b> We have hit max capacity for new users.
                	<div>
                		Sign up for waiting list
                	</div>
    	            <% } %>
	            </div>
        	</div>
        	<div class="login">
                <div class="fbLogin" onclick="openFbConnect()"></div>
                <div id="fbAuth" style="display: none;">
                    <form action="/fbAuthSubmit" method="POST">
                        <input type="hidden" id="redirectUrl" name='redirectUrl' value='<%=redirect%>' />
                        <input type="hidden" id="fbAuthToken" name='fbAuthToken' value='' />
                        <input type="submit" id="fbAuthFormSubmit" name='fbAuthFormSubmit' value='' />
                    </form>
                </div>
            </div>
        </div>
        <script>
            function validateFbForm(){
                //alert($('#fbAuthTocken').val());
              }
              function completeFbLogin(token){
                //$('#login-prompt').fadeOut('fast', function(){
                  //$('#ajaxLoadingCenter').fadeIn('fast', function(){
                    //$('#overlay').unbind();
                    token = token.replace('#access_token=', '');
                    $('#fbAuthToken').val(token);
                    $('#fbAuthFormSubmit').click();
                  //});
                //});
              }
              function openFbConnect(){
                var fbSecret = "<%= fbSecret %>"; //localhost 
                var returnUrlHost = window.location.host;
                url = 'https://graph.facebook.com/oauth/authorize?type=user_agent&client_id='+fbSecret+'&display=popup&redirect_uri=http://'+returnUrlHost+'/fbAuthLand&response_type=token&scope=email';
                //x = parseInt($(window).width()/2 - 320);
                //y = parseInt($(window).height()/2 - 210);
                fbWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
                //fbWin.moveTo(x, y);
              }
        </script>
    </body>
</html>