<html>
    <head>
        <%- partial('includes/default_includes') %>
        <link rel="stylesheet" href="/public/css/login.css" />
    </head>
    <body>        
        <div class="fiti-content">
            <div style="display: none;">
                <img src="/public/img/btn_Login_FB_OverState.png">
            </div>
            <div>
                <img src="/public/img/Logo_Horizongtal_Large.png" />
            </div>
            <div>
                <div class="big-font">
                  Graffiti on and make brilliant custom images in a few clicks.
                  <div class="big-font-big">Congratulations!</div>
                </div>
            </div>
            <div class="login">
                <div class="fbLogin" onclick="openFbConnect()"></div>
                <div id="fbAuth" style="display: none;">
                    <form method="POST">
                        <input type="hidden" id="redirectUrl" name='redirectUrl' value='<%=redirect%>' />
                        <input type="hidden" id="fbAuthToken" name='fbAuthToken' value='' />
                        <input type="submit" id="fbAuthFormSubmit" name='fbAuthFormSubmit' value='' />
                    </form>
                </div>
            </div>            
            <div class="van" style="float: none; margin-top: 20px;"></div>
        </div>
        <script>
            function validateFbForm(){
                //alert($('#fbAuthTocken').val());
              }
              function completeFbLogin(token){
                token = token.replace('#access_token=', '');
                $('#fbAuthToken').val(token);
                $('#fbAuthFormSubmit').click();
              }
              function openFbConnect(){
                var fbSecret = "<%= fbSecret %>"; 
                var returnUrlHost = window.location.host;
                url = 'https://graph.facebook.com/oauth/authorize?type=user_agent&client_id='+fbSecret+'&display=popup&redirect_uri=http://'+returnUrlHost+'/fbAuthLand&response_type=token&scope=email';
                fbWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
              }
        </script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2420402-12']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>