<html>
    <head>
        <script type="text/javascript" src="../public/js/jq.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/inherit.css" />
        <link rel="stylesheet" type="text/css" href="../public/jqimgareaselect/css/imgareaselect-default.css" />
        <script type="text/javascript" src="../public/jqimgareaselect/js/jquery.imgareaselect.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/crop.css" />
        <script type="text/javascript" src="../public/js/crop.js?v=1.1"></script>
    </head>
    <body>
        <div id="header">
            <div style="float: right;">
                <a href="/logout">logout</a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="final"></div>
    	<div id="fiting">
    		<div class="content">
    		    <div style="float: left;">
    		        <div id="caption">
        		        <div class="title">1. Caption:</div>
                        <textarea id="txtText" style="width: 250px; height: 150px;" name="txtText"><%=text %></textarea>
                        <div>
                            <input type="button" value="Apply Caption" onclick="modifyImage()" />
                        </div>
                    </div>
                    <div id="captionPlacement">
                        <div class="title">2. Caption placement:</div>
                        <input type="radio" class="font-checkbox" name="chkOrient" value="NorthWest" onchange="changeOrientation()" id="ori_topLeft"><label for="ori_topLeft">Top Left</label> | 
                        <input type="radio" class="font-checkbox" name="chkOrient" value="North" onchange="changeOrientation()" id="ori_top"><label for="ori_top">Top</label> | 
                        <input type="radio" class="font-checkbox" name="chkOrient" value="NorthEast" onchange="changeOrientation()" id="ori_topRight"><label for="ori_topRight">Top Right</label> 
                        <br><input type="radio" class="font-checkbox" name="chkOrient" value="Center" onchange="changeOrientation()" id="ori_center"><label for="ori_center">Center</label>
                        <br><input type="radio" class="font-checkbox" name="chkOrient" value="SouthWest" onchange="changeOrientation()" id="ori_botLeft"><label for="ori_botLeft">Bottom Left</label> | 
                        <input type="radio" class="font-checkbox" name="chkOrient" value="South" onchange="changeOrientation()" id="ori_bot"><label for="ori_bot">Bottom</label> | 
                        <input type="radio" class="font-checkbox" name="chkOrient" value="SouthEast" onchange="changeOrientation()" id="ori_botRight"><label for="ori_botRight">Bottom Right</label>
                    </div>
                    <div id="fonts">
                        <div class="title">3. Change fonts:</div>
                        <div>
                            <% for (var i = 0; i < fonts.length; i++) { %>
                            <div>
                                <input type="radio" class="font-checkbox" onchange="changeFont()" 
                                    name="chkFont" value="<%=i%>" id="font_<%=i%>">
                                <label for="font_<%=i%>">
                                    <img src="../public/img/fonts/<%=i%>.png">
                                </label>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    <div>
                        <div id="filters">
                            <div class="title">4. Apply filters:</div>
                            <a href="javascript:applyFilters('gray')" value="gray">Gray</a> | 
                            <a href="javascript:applyFilters('sepia')" value="sepia">Sepia</a> | 
                            <a href="javascript:applyFilters('burn')" value="burn">Burn</a> | 
                            <a href="javascript:applyFilters('firebrick')" value="firebrick">Firebrick</a> | 
                            <a href="javascript:applyFilters('none')" value="none">Original</a>
                            <input type="hidden" id="baseImage" name="baseImage" value="none" />
                        </div>
                        <div style="float: left;">
                            <div id="divFinalizing">
                                <img src="../public/img/ajaxloading-regular.gif" />
                            </div>
                            <input id="btnFinalize" type="button" value="I am done" onclick="finalize()" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="padding: 5px 10px;">
                        <div>
        			         <img id="imgCroppedImage" class="image" src="" />
        			    </div>
        			    <div class="overlayTextImage">
                            <img id="imgText" class="" src=""/>
                        </div>
        			    <div class="overlayImageLoading">
                            <img src="../public/img/ajaxloading-regular.gif"/>
                        </div>
                    </div>
                    <div>
                        <input type="button" onclick="initCrop()" value="Crop image again">
                    </div>
			    </div>
			    <div style="clear: both;"></div>
    		</div>
    	</div>
    	<div id="cropping">
    	    <div class="title">Crop the image</div>
    	    <div class="content">
    	        <div id="source">
    	        	<img id='actualImage' src="<%=sourceImage%>" style="display: none;" />
    	            <img id='cropImage' class="image shrink" src="<%=sourceImage%>" />
    	        </div>
    	        <div id="preview" style="display: none;">
    	        	<img id='imgPreview' class="shrink" src="<%=sourceImage%>">
    	        </div>
    	        <div id="divCroping">
    	        	<img src="../public/img/ajaxloading-regular.gif" />
    	        </div>
    	        <div id="divCropData">
    	        	<form id="frmCrop" action="" method="POST">
    	        		<input type="hidden" id="shrinkRatio" name="shrinkRatio" value="1" />
    	        		<input type="hidden" id="sourceImageUrl" name="sourceImageUrl" value="<%=sourceImage%>" />
    	        		<input type="hidden" id="sourceUrl" name="sourceUrl" value="<%=sourceUrl%>" />
    		        	<input type="hidden" id="x1" name="x1" value="" />
    		        	<input type="hidden" id="y1" name="y1" value="" />
    		        	<input type="hidden" id="x2" name="x2" value="" />
    		        	<input type="hidden" id="y2" name="y2" value="" />
    		        	<input type="hidden" id="width" name="width" value="" />
    		        	<input type="hidden" id="height" name="height" value="" />
    		        	<input id="btnStartFiti" type="submit" value="Start fiti" />
    	        	</form>
    	        </div>
    	        <div style="clear: both;"></div>
	        </div>
        </div>
        <div id="footer">
            <div id="foot">
                <img src="../public/img/logo.png">
            </div>
        </div>
        <%- partial('includes/default_foot') %>
    </body>
</html>