<form action="" method="POST">
    <input name="txtCommand" value="<%=filters.command%>" />
    <input type="submit" />
</form>
<img style="max-width: 700px; max-height: 700px;" src="<%=filters.image1%>" >
<img style="max-width: 700px; max-height: 700px;" src="<%=filters.image2%>" >
