<html>
    <head>
        <%- partial('includes/default_includes') %>
        <title>FitiFeed - <%=fiti.text%></title>
        <link rel="stylesheet" href="/public/css/fiti_land.css" />
        <link rel="image_src" href="<%=image_url%>" />
        <meta property="fb:app_id" content="<%=fbAppID%>" />
        <meta property="og:site_name" content="FitiFeed" />
        <meta property="og:title" content="FitiFeed - <%=fiti.text%>" />
        <meta property="og:type" content="fitifeedfbapp:fiti" />
        <meta property="og:url" content="<%=url%>" />
        <meta property="og:image" content="<%=image_url%>" />
        <meta property="og:site_name" content="FitiFeed" />
    </head>
    <body>
        <%- partial('includes/loggedin_header') %>
        <center>
            <div style="width: 825px; margin-top: 70px;">
                <div class="fiti">
                    <a href="<%=fiti.source%>">
                        <img class="fiti_img" src="/public<%=fiti.path%>">
                    </a>
                </div>
                <div class="share">
                    <%- partial('includes/default_share.ejs', {
                        url:url, 
                        imageUrl: image_url, 
                        text: fiti.text}) 
                    %>
                </div>
                <div style="float: clear;"></div>
            </div>
        </center>
        <%- partial('includes/default_foot') %>
    </body>
</html>