<html>
	<head>
		<link rel="stylesheet" href="../public/css/inherit.css" />
		<link rel="stylesheet" href="../public/css/tipsy.css" />
		<link rel="stylesheet" href="../public/css/home.css" />
		<script src="../public/js/jq.js" type="text/javascript"></script>
		<script src="../public/js/tipsy.js" type="text/javascript"></script>
		<script src="../public/js/jqform.js" type="text/javascript"></script>
		<script src="../public/js/ghostText.js" type="text/javascript"></script>
	</head>
	<body>
	    <div class="center">
    		<div title="Drag me to the bookmarks bar" class="bookmark">
    			<a class="fiti-bookmark" onclick="alert('Drag me to bookmark bar'); return false;" href='javascript:;(function(){
    				    var host = "https://fitifeed.com/public/fitibutton/";
    					var h = document.getElementsByTagName("head")[0];
    					var f = host + "js/fiti.js?r=_"+Math.floor(Math.random()*1000000000);
    					var s = document.createElement("script");
    					s.type = "text/javascript";
    					s.src = f;
    					h.appendChild(s);
    					})();'>fiti</a>
    		</div>
    		<div style="border: 1px solid #CCC; width: 400px; text-align: left; padding: 10px;">
    		    <a href="/login">login</a>
    		    <div style="border-top: 1px solid #CCC; margin-top: 10px;">
    		        Request for an invite
    		        <div id="reqError"></div>
    		        <div id="reqInvite">
        		        <form id="ftmReqInvite" action="/requestInvite" method="POST">
            		        <input type="text" id="txtInviteMe" name="txtInviteMe" value="Email" class="ghost-text" />
            		        <br><input type="submit" id="btnInvite" value="Request an invite" />
            		        <div id="reqLoading">
            		            <img src="../public/img/ajaxloading-regular.gif" />
            		        </div>
        		        </form>
    		        </div>
    		    </div>
    		</div>
		</div>
	</body>
	<script type="text/javascript">
	  $(document).ready(function(){
	      $('.bookmark').tipsy({trigger: 'manual', gravity: 's'});
	      $('.bookmark').tipsy("show");
	      frmOptions = {
	          beforeSubmit: function(arr, $form, options){
	              $('#reqError').hide();
	              if(validateEmail($('#txtInviteMe').val())){
	                  $('#btnInvite').hide();
	                  $('#reqLoading').show();
	                  return true;
	              }
                  else{
                      //alert('invalid email');
                      $('#reqError').show();
                      $('#reqError').html('Invalid email');
                      $('#txtInviteMe').focus();
                      return false;
                   }
	          },
	          success: function(data) { 
	              if(data == 'success'){
	                $('#reqError').hide();
                    $('#reqInvite').html('<div class="complete">Thank you for your interest</div>');
                  }
                  else{
                    $('#reqError').show();
                    $('#reqError').html(data);
                  }
              }
	      }
	      $('#ftmReqInvite').ajaxForm(frmOptions); 
	  });
	  var validateEmail = function(email) { 
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }
	</script>
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2420402-12']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</html>