<html>
	<head>
		<%- partial('includes/default_includes') %>
		<link rel="stylesheet" href="/public/css/home.css" />
		<link rel="stylesheet" href="/public/css/fiti.css" />
		<script src="/public/js/jquery.masonry.min.js"></script>
        <script src="/public/js/jquery.infinitescroll.min.js"></script>
	</head>
	<body>
	    <%- partial('includes/loggedin_header') %>
	    <div class="center">
	    	<img style="position: relative; left: -60px;" src="/public/img/text_dragthis.png" />
    		<div title="Drag me to the bookmarks bar" class="bookmark">
    			<a class="fiti" onclick="alert('Drag me to bookmark bar'); return false;" href='javascript:;(function(){
    				    var host = "http://localhost:3000/public/fitibutton/";
    					var h = document.getElementsByTagName("head")[0];
    					var f = host + "js/fiti.js?r=_"+Math.floor(Math.random()*1000000000);
    					var s = document.createElement("script");
    					s.type = "text/javascript";
    					s.src = f;
    					h.appendChild(s);
    			})();'>Fiti</a>
    		</div>
		</div>
		<div class="fitis">
		    <% for (var i = 0; i < fitis.length; i++) { %>
		      <% if(fitis[i].path != undefined) { %>
		          <a href="/fiti/<%= fitis[i]._id %>">
        		    <div class="fiti">
        		        <img src="/public<%= fitis[i].path %>" />
        		    </div>
        		  </a>
		      <% } %>
		    <% } %>
		    <div style="clear: both;"></div>
		</div>
		<%- partial('includes/default_foot') %>
	</body>
	<script>
  $(function(){
    
    var $container = $('.fitis');
    
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.fiti',
        columnWidth: 110
      });
    });
    
    $container.infinitescroll({
      navSelector  : '#page-nav',    // selector for the paged navigation 
      nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
      itemSelector : '.box',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/6RMhx.gif'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true ); 
        });
      }
    );
    
  });
</script>
</html>