<div id="share">
	<div style="float: left;">
	    <div>
	       <input type="button" value="<< go back" onclick="fitiAgain()" />
	    </div>
	    <div>
		  <img class="image" src="<%=imageUrl%>"/>
		</div>
	</div>
	<div style="float: left; margin: 40px 0px 0px 10px;">
	    <%- partial('includes/default_share.ejs', {
            url:pinurl, 
            imageUrl: imageUrl, 
            text: text}) 
        %>
	</div>
	<div style="clear: both;"></div>
</div>
<div>
	<a href="<%=pinurl%>">
	<input type="button" value="See it on the Fiti page" />
	</a>
</div>