<div>
	<div style="float: left; display: none;">
		<img src="<%=inputImageUrl%>"/>
	</div>
	<div style="float: left; background: transparent url(<%=inputImageUrl%>) no-repeat; width: <%=width%>px; height: <%=height%>px;">
		<img src="<%=outputImageUrl%>"/>
	</div>
	<div style="float: left; margin-left: 10px;">
		<form method="POST">
			<div style="display: none;">image url: <input type="text" name="txtImageUrl" value="" ></div>
			<div style="font-size: 10px; color: #555;">
			http://media-cache2.pinterest.com/upload/47710077271984085_UT6m2by7_f.jpg
			</div>
			<div>text: 
				<textarea style="width: 250px; height: 150px;" name="txtText"><%=text %></textarea>
			</div>
			<input type="submit" value="Modify" />
			<a 
				href="http://pinterest.com/pin/create/button/?url=<%=pinurl%>&media=<%=pinmedia%>&description=<%=text%>" 
				class="pin-it-button" count-layout="horizontal">
				<img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
			</a>
		</form>
	</div>
	<div style="clear: both;" />
</div>