<html>
	<head>
		<script src="../public/js/jq.js" type="text/javascript"></script>
		<script src="../public/jcrop/js/jquery.Jcrop.js" type="text/javascript"></script>
		<link rel="stylesheet" href="../public/css/showImage.css" />
		<link rel="stylesheet" href="../public/jcrop/css/jquery.Jcrop.css" type="text/css" />
	</head>
	<body>
		<div>
			<div style="float: left; display: block;">
				<div class="sourceImage">
					<img id='imgSource' src="<%=inputImageUrl%>"/>
				</div>
				<div class="overlayImage">
					<img id="imgOverlayImg" src="<%=outputImageUrl%>"/>
				</div>
				<div class="overlayImageLoading">
                    <img src="../public/img/ajaxloading-regular.gif"/>
                </div>
			</div>
			<div id="divSourceImg" style="float: left; display: none; background: transparent url(<%=inputImageUrl%>) no-repeat; width: <%=width%>px; height: <%=height%>px;">
				
			</div>
			<div style="float: left; margin-left: 10px;">
				<form id='frmFiti' method="POST">
					<div style="display: none;">image url: <input type="text" name="txtImageUrl" value="" ></div>
					<div>text: 
						<textarea id="txtText" style="width: 250px; height: 150px;" name="txtText"><%=text %></textarea>
					</div>
					<div style="display: none;">
					    <input type="hidden" id="txtInboundUrl" name="txtInboundUrl" value="<%=inboundUrl%>" />
					    <input type="hidden" id="txtSourceUrl" name="txtSourceUrl" value="<%=inputImageUrl%>" />
						<input type="hidden" id="txtWidth" name="txtWidth" value="0" />
						<input type="hidden" id="txtHeight" name="txtHeight" value="0" />
						<input type="hidden" id="txtX" name="txtX" value="0" />
						<input type="hidden" id="txtY" name="txtY" value="0" />
					</div>
					<div id="fonts">
						<% for (var i = 0; i < fonts.length; i++) { %>
						<div>
							<input type="radio" onchange="modifyImage()" name="chkFont" value="<%=i%>" id="font_<%=i%>">
							<label for="font_<%=i%>">
								<img src="../public/img/fonts/<%=i%>.png">
							</label>
						</div>
						<% } %>
					</div>
					select color:
					<div id="colors">
						<% for (var i = 0; i < colors.length; i++) { %>
						<div style="float: left;">
							<input type="radio" onchange="modifyImage()" name="chkColor" value="<%=i%>" id="color_<%=i%>">
							<label for="color_<%=i%>">
								<div style="border: 1px solid #CCC; width: 50px; height: 50px; background-color: <%=colors[i].code%>"></div>
							</label>
						</div>
						<% } %>
						<div style="clear: both;"></div>
					</div>
					<input type="button" value="Modify" onclick="modifyImage()" />
					<input type="submit" value="Finalize" />
					<!--a 
						href="http://pinterest.com/pin/create/button/?url=<%=pinurl%>&media=<%=pinmedia%>&description=<%=text%>" 
						class="pin-it-button" count-layout="horizontal">
						<img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
					</a-->
				</form>
			</div>
			<div style="clear: both;" />
		</div>
		<script>
			$(document).ready(function(){
				$('#imgSource').load(function(){
					init();
				});
				/*$('#frmFiti').submit(function() {
				  //alert($(this).serialize());
				  getImage(
				  	$('#txtWidth').val(),
					$('#txtHeight').val(),
					$('#txtX').val(),
					$('#txtY').val(),
					$('#txtText').val()
				  );
				  return false;
				});*/
			});
			function init(){
				$elm = $('#imgSource');
				console.log('setting margin');
				placeOverlayImage(function(){
					console.log('imgSource width: ' + $('#imgSource').width());
					if($('#imgSource').width() && $('#imgSource').width() > 0){
						/*getImage(function(err){
							console.log('width found: ' + $('#imgSource').width() + " height: " + $('#imgSource').height());
							placeOverlayImage();
							$('#txtWidth').val($('#imgSource').width());
							$('#txtHeight').val($('#imgSource').height());
						});*/
						getImage();
					}else{
						console.log('width not found so waiting 100ms');
						setTimtout('init()', 100);
					}
				});
			}
			function modifyImage(){
				getImage();
			}
			var jcrop = undefined;
			function showLoading(){
			    //if(jcrop != undefined)
			     //$('#imgOverlayImg').Jcrop().disable();
			    $('.overlayImageLoading').slideDown(10);
			}
			function hideLoading(){
			    //$('#imgOverlayImg').Jcrop().enable();
			    $('.overlayImageLoading').slideUp(100);
			}
			function placeOverlayImage(callback){
				$elm = $('#imgSource');
				$('.overlayImage').css('margin-top', -$elm.height());
				$('#imgOverlayImg').width($('#imgSource').width()).height($('#imgSource').height());
				$('.overlayImageLoading').css('margin-top', -$elm.height());
				$('.overlayImageLoading').width($('#imgSource').width()).height($('#imgSource').height());
				if(callback)
					callback();
			}
			function getImage(callback){
			    showLoading();
				data = {
					tw: ($('#txtWidth').val() != '0' ? $('#txtWidth').val() : $('#imgSource').width()),
					th: ($('#txtHeight').val() != '0' ? $('#txtHeight').val() : $('#imgSource').height()),
					x: $('#txtX').val(),
					y: $('#txtY').val(),
					text: $('#txtText').val(),
					font_id: $('input[name="chkFont"]:checked').val(),
					color_id: $('input[name="chkColor"]:checked').val()
				};
				$.ajax({
					type: 	'POST',
				  	url: "/getImage", //id filters here
				  	data: data,
				  	success: function(data) {
						$('#imgOverlayImg').attr('src', data);
						if($('.overlayImage').css('margin-top') == '0px'){
							placeOverlayImage();
						}
						if($('#imgOverlayImg').width() == '0')
							$('#imgOverlayImg').width($('#imgSource').width()).height($('#imgSource').height());
						if($('.jcrop-holder img'))
						  $('.jcrop-holder img').attr('src', data);
						if(jcrop == undefined){
    						$('#imgOverlayImg').Jcrop({
    							setSelect:   [ $('#imgOverlayImg').width(), $('#imgOverlayImg').height(), 0, 0 ],
    					        onChange:   showCoords,
    					        onSelect:   releaseCoords,
    					        onRelease:  releaseCoords
    					    }, function(){
    					        jcrop = this;
    					        hideLoading();
    					        if(callback)
    					        	callback(null);
    					    });
					    }
					    hideLoading();
					},
					error: function(data){
						callback(data);
					}
				});
			}
			function showCoords(c){
				$('.jcrop-holder img').css('margin-top', c.y);
				$('.jcrop-holder img').css('margin-left', c.x);
				$('.jcrop-holder img').width(c.w);
				$('.jcrop-holder img').height(c.h);
				$('#txtX').val(c.x);
				$('#txtY').val(c.y);
				$('#txtWidth').val(c.w);
				$('#txtHeight').val(c.h);
			}
			function clearCoords(){
				
			}
			function releaseCoords(){
			    getImage();
			}
		</script>
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2420402-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>