<html>
    <head>
        <%- partial('includes/default_includes') %>
        <link rel="stylesheet" href="/public/css/login.css" />
        <script src="../public/js/jqform.js" type="text/javascript"></script>
        <script src="../public/js/ghostText.js" type="text/javascript"></script>
    </head>
    <body>        
        <div class="fiti-content">
            <div style="display: none;">
                <img src="/public/img/btn_Login_FB_OverState.png">
            </div>
        	<div>
    			<img src="/public/img/Logo_Horizongtal_Large.png" />
    		</div>
        	<div>
        		<div class="big-font">
        		  Graffiti on and make brilliant custom images in a few clicks.
        		  <div class="big-font-big">Hop on Board!</div>
        		</div>
        		<div class="vanster">
        		  <div class="van"></div>
        		  <div class="space">
        		      <div class="text">Only</div>
        		      <div class="spaceLeft">
        		          <%= spaceLeft %>
        		      </div>
        		      <div class="text">spots left</div>
        		  </div>
        		  <div style="clear: both;"></div>
        		</div>
        		<% if( spaceLeft == 0 ){ %>
	            <div class="newreg-title">
                	<b>Sorry!</b> We have hit max capacity for new users, Sign up for waiting list.
                	<div>
	    		        <div id="reqError"></div>
	    		        <div id="reqInvite">
	        		        <form id="ftmReqInvite" action="/requestInvite" method="POST">
	            		        <input type="text" id="txtInviteMe" name="txtInviteMe" value="Email" class="ghost-text" />
	            		        <br><input type="submit" id="btnInvite" value="Request an invite" />
	            		        <div id="reqLoading">
	            		            <img src="../public/img/ajaxloading-regular.gif" />
	            		        </div>
	        		        </form>
	    		        </div>
                	</div>
	            </div>
	            <% } %>
        	</div>
        	<div class="login">
                <div class="fbLogin" onclick="openFbConnect()"></div>
                <div id="fbAuth" style="display: none;">
                    <form action="/fbAuthSubmit" method="POST">
                        <input type="hidden" id="redirectUrl" name='redirectUrl' value='<%=redirect%>' />
                        <input type="hidden" id="fbAuthToken" name='fbAuthToken' value='' />
                        <input type="submit" id="fbAuthFormSubmit" name='fbAuthFormSubmit' value='' />
                    </form>
                </div>
            </div>
        </div>
        <script>
            function validateFbForm(){
                //alert($('#fbAuthTocken').val());
              }
              function completeFbLogin(token){
                //$('#login-prompt').fadeOut('fast', function(){
                  //$('#ajaxLoadingCenter').fadeIn('fast', function(){
                    //$('#overlay').unbind();
                    token = token.replace('#access_token=', '');
                    $('#fbAuthToken').val(token);
                    $('#fbAuthFormSubmit').click();
                  //});
                //});
              }
              function openFbConnect(){
                var fbSecret = "<%= fbSecret %>"; //localhost 
                var returnUrlHost = window.location.host;
                url = 'https://graph.facebook.com/oauth/authorize?type=user_agent&client_id='+fbSecret+'&display=popup&redirect_uri=http://'+returnUrlHost+'/fbAuthLand&response_type=token&scope=email';
                //x = parseInt($(window).width()/2 - 320);
                //y = parseInt($(window).height()/2 - 210);
                fbWin = window.open(url, "myWindowName", "width=650, height=350,resizable=no");
                //fbWin.moveTo(x, y);
              }
        </script>
        <script type="text/javascript">
		  $(document).ready(function(){
		      frmOptions = {
		          beforeSubmit: function(arr, $form, options){
		              $('#reqError').hide();
		              if(validateEmail($('#txtInviteMe').val())){
		                  $('#btnInvite').hide();
		                  $('#reqLoading').show();
		                  return true;
		              }
	                  else{
	                      //alert('invalid email');
	                      $('#reqError').show();
	                      $('#reqError').html('Invalid email');
	                      $('#txtInviteMe').focus();
	                      return false;
	                   }
		          },
		          success: function(data) { 
		              if(data == 'success'){
		                $('#reqError').hide();
	                    $('#reqInvite').html('<div class="complete">Thank you for your interest</div>');
	                  }
	                  else{
	                      $('#reqLoading').hide();
	                      $('#reqError').html(data);
	                      $('#reqError').show();
	                      $('#btnInvite').show();
	                  }
	              }
		      }
		      $('#ftmReqInvite').ajaxForm(frmOptions); 
		  });
		  var validateEmail = function(email) { 
	        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	        return re.test(email);
	      }
		</script>
		<script type="text/javascript">
	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-2420402-12']);
	      _gaq.push(['_trackPageview']);
	    
	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();
	    </script>
    </body>
</html>