#header {
	background-color: rgba(0,0,0, 0.1);
	height: auto;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
	display: none;
}
#footer {
	width: 99%;
	text-align: right;
}
#footer .foot{
	width: 240px;
}
#final{
	width: 60%;
	margin: 0px auto;
	display: none;
}
#fiting{
	width: 910px;
	/*background-color: rgba(0,0,0,0.2);*/
	margin: 0px auto;
	display: none;
	padding: 5px 5px 10px 5px;
}
#cropping{
	width: 800px;
	margin: 0px auto;
}
.image {
	border: 1px solid #555;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}
.title {
	color: #000;
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	padding: 0px 5px;
}
#cropping .title, #share .title {
	color: #CCC;
	text-shadow: rgba(0,0,0, 1) 0px 2px 0px;
}
#source {
	float: left;
	margin-right: 10px;
}
#preview {
    overflow: hidden;
    float: left;
}
img.shrink {
	max-height: 600px; max-width: 600px;
}
img.previewShrink {
	max-width: 600px;
}
#divFinalizing {
	display: none;
}
#divCroping {
	display: none;
}
#filters {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	margin-left: 10px;
}
#filters a {
	font-size: 25px;
	color: #000;
	font-weight: bold;
}
#filters a:hover {
	color: #555;
}
.font-checkbox{
	display: none;
}
#caption {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}
#captionPlacement {
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}
#captionPlacement label {
	font-weight: bold;
	text-shadow: none;
}
#captionPlacement label:hover {
	background-color: #CCC;
	cursor: hand;
	cursor: pointer;
	text-decoration: underline;
}
#fonts {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}
#fonts label img{
	border: 2px solid transparent;
}
#fonts label img:hover{
	cursor: hand;
	cursor: pointer;
	border: 2px solid #555555;
}
.overlayImageLoading {
	display: none;
	background-color: rgba(0,0,0, 0.2);
	position: relative;
	z-index: 1000;
}

.overlayImageLoading img {
	position: relative;
	top: 50%;
	left: 50%;
}
.overlayTextImage {
	border: 1px solid transparent;
	position: relative;
	left: 0px;
	z-index: 20;
}