.fitis {
	width: 98%;
	margin: 0px auto;
}
.fiti {
	display: block;
	float: left;
	width: 200px;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}
.fiti img {
	display: block;
	width: 100%;
}

.fiti img:hover {
	cursor: hand;
	cursor: pointer;
	opacity:0.9;
	filter:alpha(opacity=90);
}