.fiti {
	float: left;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}
.fiti_img {
	max-width: 600px;
}
.fiti_img:hover {
	opacity:0.9;
	filter:alpha(opacity=90);
}
.share {
	width: 200px;
	float: left;
	text-align: left;
	margin: 10px;
}
