.center {
    width: 625px; height: 250px;
    margin: 50px auto;
    text-align: center;
}
.bookmark {
    margin: 20px auto; width: 65px; 
}
a.fiti {
	display: block;
	position: relative;
	top: -100px;
	left: -100px;
	z-index: 100;
	width: 144px;
	height: 133px;
	line-height: 133px;
    background: transparent url(../img/btn_dragthis_logo_Beta.png) no-repeat;
    margin: 0px;
    padding: 0px;
    opacity:0.7;
	filter:alpha(opacity=70);
	font-size: 0px;
}
a.fiti:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

#txtInviteMe {
	width: 80%;
	height: 41px;
}
#reqError {
	color: red;
	font-size: 13px;
}
#reqLoading{
	display: none;
}
