html, body {
	/*height: 100%;*/
}
body {
	background: transparent url(../img/black-Linen_BG.jpg) repeat;
	background-position-x: 50%;
	margin: 0px;
	padding: 0px;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}
.content {
	/*background-color: rgba(0,0,0,0.2);*/
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}
a {
	text-decoration: none;
	color: #2bc2f7;
}
a:hover {
	text-decoration: underline;
	color: #059cc5;
}
input[type=text],input[type=password], textarea{
	border: 1px solid #999;
	color: #383834;
	margin: 3px;
	padding: 8px;
	font-size: 18px;
	-webkit-box-shadow: inset 0 2px 5px -2px #acacac;
	-moz-box-shadow: inset 0 2px 5px -2px #acacac;
	box-shadow: inset 0 2px 5px -2px #acacac;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	text-shadow: rgba(255, 255, 255, 0.898438) 0px 1px 0px;
}
textarea{
	font-size: 16px;
}
input[type=text]:hover,input[type=password]:hover,textarea:hover{
	border: 1px solid #555;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
	border: 1px solid #2bc2f7;
}
input[type=button],input[type=submit] { margin: 3px; height: 30px; padding: 0 10px 2px 10px; font-family: Lucida Grande, Verdana, Sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold; background-color: #3C2B25; border: 1px solid #1C1C1C; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: -webkit-gradient(linear,0% 0,0% 100%,from(#755D55),to(#3C2B25)); background-image: -o-linear-gradient(#755D55, #3C2B25); background: -moz-linear-gradient(270deg, #755D55, #3C2B25) repeat scroll 0 0 transparent; }
input[type=button]:HOVER,input[type=submit]:HOVER { color: #000; background-color: #FFD000; background: -webkit-gradient(linear,0% 0,0% 100%,from(#FFE77F),to(#FFD000)); background: -moz-linear-gradient(270deg, #FFE77F, #FFD000) repeat scroll 0 0 transparent; background-image: -o-linear-gradient(#FFE77F, #FFD000); border-color: #D6B10E; }
input[type=button]:ACTIVE,input[type=submit]:ACTIVE { box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); }
input.checking{ background-image: url(../images/ajaxloading.gif); }
input.good{ background-image: url(../images/icons/tick-circle.png); }
input.bad{ background-image: url(../images/icons/cross-circle.png); background-color: #F7C3C3; border-color: #E25F5F; }
#logo {
	background: transparent url(../img/logo.png) no-repeat;
	width: 236px;
	height: 50px;
	margin: 0px auto;
	float: left;
}
#logout {
	padding-top: 18px;
	border-left: 1px solid #444;
	text-align: center;
	height: 32px;
	width: 100px;
	float: right;
}
#header a:hover {
	color: #ccc;
}
#logout:hover {
	border-left: 1px solid #222;
	background-color: rgba(0,0,0, 0.3); 
}
#caching {
	display: none; 
}
#wrapper {
	width: 100%;
	height: 100%;
}
#header {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0, 0.2);
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px #000;
}
#header a {
	color: #777;
	font-family: verdana;
	font-size: 13px;
	letter-spacing: 1px;
	text-shadow: #000 0px 1px 0px;
	text-align: center;
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}
#head-strip {
	width: 956px;
	height: 69px;
	background: transparent url(../img/header.png) no-repeat;
}
#content {
	width: 100%;
	height: 91%;
}
#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 8px 20px;
	font-size: 13px;
	color: #777;
	/*background-color: rgba(198, 198, 198, 0.3);*/
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}
#overlay {
	display: none;
	z-index:1000;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height: 100%;
	background: #000 url(../img/Overlay_tan.png) repeat;
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
div.error {
	padding: 5px; 
	font-size: 15px;
	border: 1px solid #dd3c10;
	background-color: #ffebe8;
	color: #dd3c10;
}
/* header stuff */
#login-link {
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	text-shadow: none;
}
#login-link a {
	color: #FFF;
	font-weight: bold;
}
.title {
	font-size: 13px;
	padding: 8px 0px;
}
.title a {
	font-size: 13px;
}
#ajaxLoadingCenter {
	display: none;
	position: fixed;
	width: 46px;
	height: 46px;
	top: 50%;
	left: 50%;
	margin-top: -23px;
	margin-left: -23px;
	z-index: 10015;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	background: rgba(0,0,0, 0.5) url(../img/ajax-loader.gif) no-repeat 50% 50%;
}
/* ghost text */
input.ghost-text{
    font-style: italic;
    color: #888;
}
/* end gohst text */