/* Home page stuff */
#login-prompt {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -181px;
	width: 363px;
	height: 437px;
	z-index: 1015;
	overflow: hidden;
}
#login-prompt-parent {
	width: 1000px;
	overflow: hidden;
}
.login-close {
	position: relative;
	float: right;
	clear: both;
	top: 20px;
	right: 18px;
	width: 25px;
	height: 25px;
	background: transparent url(../img/exit.png) no-repeat;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	cursor: hand;
	cursor: pointer;
}
.login-close:hover {
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
}
.login-screen {
	width: 363px;
	float: left;
}
.login-screen#signup {
	width: 363px;
	height: 437px;
	background: transparent url(../img/signup_bg.png) no-repeat;
}
.login-screen#signup input {
	width: 90%;
}
.login-screen#login {
	width: 363px;
	height: 437px;
	background: transparent url(../img/login_bg.png) no-repeat;
	background-position: -3px 5px;
}
.login-screen#login input {
	width: 90%;
}
#edu-email-confim {
	display: none;
	position: fixed;
	z-index: 1015;
	top: 20%;
	left: 50%;
	margin-left: -181px;
	width: 363px;
	height: 361px;
	background: transparent url(../img/EDUsignup_bg.png) no-repeat;
	background-position: 0px 0px;
}
#edu-email-confim #edu-email-content {
	margin: 30px;
	width: 300px;
}
#edu-email-confim #profile-pic {
	width: 130px;
	height: 130px;
	padding: 5px;
	float: left;
	background-color: #888;
	-webkit-box-shadow: inset -1px -1px 1px 1px #555555;
	-moz-box-shadow: inset -1px -1px 1px 1px #555555;
	box-shadow: inset -1px -1px 1px 1px #555555;
	border: 1px solid #FFF;
	border-top: 0px;
	border-left: 0px;
}
#edu-email-confim #profile-pic div{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#edu-email-confim #profile-pic img {
	width: 100%;
}
#edu-email-confim #profile-name {
	float: left;
	color: #2bc2f7;
	font-size: 20px;
	font-weight: bold;
	margin: 40px auto;
	padding: 0px 0px 0px 15px;
}
#edu-email-confim #profile-stuff {
	width: 100%;
	margin-top: 20px;
}
#edu-email-confim #profile-stuff input[type="text"], #edu-email-confim #profile-stuff input[type="password"] {
	width: 90%;
}
#screen-signup-button {
	width: 113px;
	height: 37px;
	margin: 10px auto;
	cursor: hand;
	cursor: pointer;
	background: transparent url(../img/signup_orange_btn.png) no-repeat;
}
#screen-signup-button:hover {
	background: transparent url(../img/signup_orange_btn_on.png) no-repeat;
}
#screen-login-button {
	width: 113px;
	height: 37px;
	margin: 10px auto;
	cursor: hand;
	cursor: pointer;
	background: transparent url(../img/login_orange_btn.png) no-repeat;
}
#screen-login-button:hover {
	background: transparent url(../img/login_orange_btn_on.png) no-repeat;
}
.fb-login {
	margin: 0px auto;
	width: 287px;
	height: 46px;
	cursor: hand;
	cursor: pointer;
	background: transparent url(../img/login_fb.png) no-repeat;
}
.fb-login:hover {
	background: transparent url(../img/login_fb_on.png) no-repeat;
}
#signup-content {
	margin-top: 80px;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
#login-content {
	margin-top: 80px;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
#home {
	width: 956px;
	height: 587px;
	margin: 0px auto;
	background: transparent url(../img/bg_home.png) no-repeat;
}
#signup-button {
	width: 345px;
	height: 102px;
	cursor: hand;
	cursor: pointer;
	position: absolute;
	left: 50%;
	margin-left: -172px;
	top: 380px;
	background: transparent url(../img/SignUp_Home.png) no-repeat;
}
#signup-button:hover {
	background: transparent url(../img/SignUp_Home_On.png) no-repeat;
}
/* end of other stuff */