#content {
	background: transparent url(../img/bgdude.png) no-repeat 0px 0px;
	background-position: 20% 0%;
}

#home {
	width: 800px;
	margin: 0px auto;
}

.home-content {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.4);
}

.welcome_message {
	font-family: myriad-pro-1, myriad-pro-2, sans-serif;
	padding: 20px 0px 0px 0px;
	width: 500px;
	text-align: center;
	margin: 0px auto;
	font-size: 45px;
	color: #383834;
	font-weight: 650;
}

.class-title-message {
	font-family: myriad-pro-1, myriad-pro-2, sans-serif;
	padding: 20px 0px 0px 0px;
	text-align: left;
	margin: 0px auto;
	font-size: 30px;
	color: #383834;
}

.list {
	width: 500px;
	margin: 0px auto;
}
.list .item {
	background-color: #FFF;
	padding: 5px;
	border-top: 0px;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}
.list .item:hover {
	background-color: #ddd;
}
.list .item.first {
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.list .item.last {
	border: 1px solid #CCC;
	border-top: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* checkin stuff */
.checkin-pic {
	width: 40px; float: left;
	padding: 0px 10px 0px 5px;
}
.checkin-pic img {
	width: 40px;
}
.checkin-name {
	font-size: 20px;
	width: 330px; 
	float: left;
	color: #555;
	padding: 3px 0px;
}
.checkin-push-quiz {
	margin: 20px 10px 0px 0px;
	float: right;
	width: 150px;
}
.checkin-by {
	width: 100%;
	font-size: 15px;
	color: #888;
}
.checkin-button {
	width: 117px; height: 37px; float: left;
	background: transparent url(../img/checkin_btn.png) no-repeat;
}
.checkin-button:hover {
	cursor: hand; cursor: pointer;
	background: transparent url(../img/checkin_btn_on.png) no-repeat;
}
.checkedin {
	font-size: 12px;
	color: #999;
	float: left;
}
/* End Checkin Stuff */

/* in-class */

/* end in-class */

input[type=text] { 
	width: 95%;
}