@font-face {
    font-family: "Bevan";
    src: url(http://fitifeed.com/public/img/fonts/Bevan.ttf) format("truetype");
}
.newreg-title {
	margin-top: 5px;
	background-color: #EFEFEF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 0px;
	font-size: 15px; color: #666; text-align: center;
}
.big-font {
	color: #737477;
	color: #777;
	font-family: verdana;
	font-size: 13px;
	letter-spacing: 1px;
	text-shadow: #000 0px 1px 0px;
	text-align: center;
}
.big-font-big {
	margin-top: 20px;
	color: #221e1f;
	font-family: Bevan;
	font-size: 43px;
	text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
	text-align: center;
}
.fbLogin {
	margin-top: 20px;
	width: 330px;
	height: 60px;
	background: transparent url(../img/btn_Login_FB.png) no-repeat;
}
.fbLogin:hover {
	background: transparent url(../img/btn_Login_FB_OverState.png) no-repeat;
	cursor: hand;
	cursor: pointer;
}
.fiti-content {
	width: 500px; height: 500px; margin: 20px auto;
}
.login {
	width: 318px;
	margin: 0px auto;
}
.vanster {
	width: 350px;
	margin: 0px auto;
}
.van {
	float: left;
	width: 211px;
	height: 110px;
	margin: 0px auto;
	background: transparent url(../img/van.png) no-repeat;
}
.space {
	margin-left: 20px;
	float: left;
	text-align: center;
	font-weight: bold;
}
.spaceLeft {
	margin: 0px;
	padding: 0px 10px;
	font-family: Bevan;
	color: #EFEFEF;
	line-height: 80px;
	font-size: 60px;
	letter-spacing: 3px;
	text-align: center;
	text-shadow: #333 0px 1px 0px;
	border: 1px solid #000;
	background-color: rgba(0,0,0, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);
}
.space .text {
	font-family: verdana;
	color: #777;
	font-size: 12px;
	text-shadow: #000 0px 1px 0px;
<<<<<<< HEAD
=======
}
#txtInviteMe {
	width: 80%;
	height: 41px;
>>>>>>> 5d062e304c185e2c8444957924c29f3c6d26f4b4
}
#reqError {
	color: red;
	font-size: 13px;
}
#reqLoading{
	display: none;
}
