body{
	margin: 5px;
	padding: 0px;
}
div {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.sourceImage {
	position: relative;
	z-index: 10;
}

.overlayImage {
	position: relative;
	left: 0px;
	z-index: 20;
}

.overlayImageLoading {
	background-color: rgba(255,255,255, 0.8);
	position: relative;
	z-index: 1000;
}

.overlayImageLoading img {
	position: relative;
	top: 50%;
	left: 50%;
}
