Welcome aboard|
<br><br>VVRRROOOOOOOMMMMMMMM!!! (Car Noise)

<br><br>The Graffiti Gods have spoken; Get in the Taggin’ Wagon.

<br><br>You are just seconds away from creating brilliant images with a few clicks. Motivate, inspire and entertain your social media networks with your favorite quotes, images, filters and more!

<br><br>Get started here: <a href="http://fitifeed.com/acceptInvite/<%=id%>">Start</a>

<br><br>Yo, just a reminder: We are still in Beta so, if you find any bugs, or have any suggestions on how FitiFeed can be cooler, drop us a line @ holler@fitifeed.com

<br><br>- Team Fiti