So you want to fiti huh?|
<br><br>Hiiiyyyaaa franndddd,

<br><br>Thanks so much for signing up for FitiFeed Beta!

<br><br>Fiti is your destination for creating beautifully designed, custom-infused digital graffiti from the back of the van.

<br><br>Motivate, inspire and entertain your social media networks with your favorite quotes, images, filters and more. Impress your fans and followers with rad design while exerting minimal effort.

<br><br>Keep an eye on your inbox for your invite into the Fitifeed Taggin’ Wagon!

<br><br>- Team Fiti