body {
	height: auto;
}
.head {
	margin: 0px;
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: rgba(0,0,0,0.3);
	color: #000;
	font-size: 35px;
}
.list {
	width: 95%;
	margin: 0px auto;
	margin-top: 50px;
	border: 1px solid #CCC;
	border-bottom: 0px;
}
.request {
	padding: 5px;
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCC;
	height: 23px;
	color: #555;
}
.request:hover {
	background-color: #CCC;
	color: #000;
	font-weight: bold;
}
.delete {
	float: right;
}
.actions {
	float: right;
	width: 80%;
}
.working {
	margin-top: 10px;
	display: none;
	float: right;
	clear: left;
}
